@use '../../scss/mixins';
@use '../../scss/colors';

.changepassword {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 12px;
    margin-bottom: 0.2rem;
  }

  &__input {
    background-color: colors.$pink;
    border-radius: 5px;
    border: solid 1px colors.$brown;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans';
  }

  &__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f3e4e1 inset;
  }

  &__changeview {
    margin-bottom: 1rem;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__submit {
    margin-top: 1rem;
    height: 40px;
    width: 190px;
    background-color: colors.$brown;
    border-radius: 6px;
    border: none;
    color: colors.$white;
    font-family: 'PT Serif';
    font-size: 18px;
    margin-bottom: 1rem;
  }
}
